<p><h4 style="color: darkgreen"><b> Appreciation for web-4</b></h4>


<ul>
  <li><strong> About </strong></li>
  <p> The system is about Course Information System</p>
</ul>



<ul>
  <li><strong> Accuracy </strong></li>

  <p> Was information on the site relevant to your needs? Yes </p>
  <p> Does the information on the site seem accurate and verifiable?  Yes</p>
  <p> Does the site contain “broken” links? Yes for CIS on home page</p>
</ul>

<ul>
  <li><strong> Data model </strong></li>

  <p> The Document has two models which has corrcet UML diagrams and flow</p>
  <p> The given data models which will be implemented are met with the purpose of project </p>
</ul>
<ul>
  <li><strong> View </strong></li>

  <p>Is the website responsive and optimized for mobile? Yes, It is responsive but not structured</p>
  <p>"Problem Sets" dropdown is not responsive</p>
</ul>

<p><h4 style="color: darkgreen"><b> Appreciation for web-5</b></h4>


<ul>
  <li><strong> About </strong></li>
  <p> The system is about AIT JUNK AND JADE </p>
</ul>



<ul>
  <li><strong> Accuracy </strong></li>
  <p> Was information on the site relevant to your needs? Yes </p>
  <p> Does the information on the site seem accurate and verifiable?  Yes</p>
  <p> Does the site contain “broken” links? No</p>
</ul>

<ul>
  <li><strong> Data model </strong></li>
  <p> The Document has two models which has corrcet UML diagrams and flow</p>
  <p> The given data models which will be implemented are met with the purpose of project </p>
</ul>
<ul>
  <li><strong> View </strong></li>
  <p>Is the website responsive and optimized for mobile? Yes, It is responsive and well structured</p>
  <p>No problems in view</p>
</ul>
<ul>
  <li><strong> Suggestions </strong></li>
  <p>Admin should able to edit or delete comment in order to correct/remove, if someone posts relevant data</p>
  <p>Admin should able to delete items.</p>
</ul>