<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <h1 class="brand-heading"><br><br>
                      <table>
                        <td>
                      <%= image_tag('pp.png', :style => "z-index:19; position: relative; ", size: '250x250') %></td><td>Maa aapki Chaaya </td></table></h1>
                  <h3><b style="color: black">Non-Profit charitable Organization.<br>Started by SSC friends in India.</b></h3>
                  <h3><b style="color: black"> Join as a volunteer ?</b></h3>

                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>


                    </a>

                </div>

            </div>

        </div>

    </div>

</header>
