<h1>Editing material uploaded</h1>
<table>
  <%= button_to 'Show', @course,class: "btn btn-success" ,:method => :get %>
  &nbsp;&nbsp;
  <%= button_to 'Back', courses_path,class: "btn btn-success" ,:method => :get %>
</table>
<%= render 'form' %>

